body{
    background-color: whitesmoke;
}
#main-page{
    width: 55%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 20px;
}

p{
    display: flex;
    width: 700px;
}
li{
    display: flex;
    width: 700px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    border: whitesmoke 10px solid;
    border-radius: 10px;
    box-shadow: black;
}
h1{
    font-family: 'Playfair Display', serif;
    margin-left: 200px;
}
.shadow{
    box-shadow: 0 6px 6px black, 0 6px 6px black;
}
.slogan{
    color: whitesmoke;
    width: 570px;
    border:black 1px groove;
    border-radius: 22px;
    padding: 7px;
    box-shadow: 0 6px 6px black, 0 6px 6px black;
   background-color: blueviolet;
   margin-left: 50px;
}
@media screen and (max-width: 780px) {
    #main-page{
        width: 62%;
    }
    h1{
        width: 450px;
    }
    h5{
        width: 450px;
    }
  }
  p{
    font-family: 'Playfair Display', serif;

  }
  img{
      margin-left: 44px;
  }
  .date{
    margin-left: 220px;
  }
  .intro{
    margin-left: 44px;
  }
  h5{
    margin-left: 44px;
    font-size: 24px;
  }
